html, body {
  height: 100%; /* Устанавливаем высоту для html и body на 100% */
  margin: 0; /* Убираем стандартные отступы */
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center; /* Центровка по горизонтали */
  align-items: center; /* Центровка по вертикали */
  background-color: #f4f4f4;
}

.container {
  width: 300px; /* Устанавливаем фиксированную ширину контейнера */
  height: 400px; /* Устанавливаем фиксированную высоту контейнера */
  display: flex;
  flex-direction: column; /* Располагаем элементы в колонку */
  justify-content: center; /* Центровка элементов внутри контейнера по вертикали */
  align-items: center; /* Центровка элементов внутри контейнера по горизонтали */
  background: #8e44ad; /* Фиолетовый цвет фона */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: white; /* Цвет текста белый */
}

input[type="number"], button {
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
}

button {
  background-color: #6c3483; /* Темный фиолетовый для кнопок */
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #5f2c8f; /* Темно-фиолетовый при наведении */
}